# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Entornos Virtuales ---
.venv/
venv/
env/
ENV/

# --- Resultados del Perfilador (Outputs) ---
# Ignoramos todos los reportes CSV generados en las pruebas
outputs/*.csv

# Pero permitimos que el archivo .gitkeep se suba 
# para que la carpeta outputs aparezca en GitHub
!outputs/.gitkeep

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db